<form [formGroup]="formulaire" (ngSubmit)="envoyerFormulaire()">
    <div class="form-item">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" formControlName="nom">
        <p class="alert" *ngIf="formulaire.controls.nom.errors?.required">Le champs est requis</p>
    </div>
    <div class="form-item">
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" formControlName="prenom">
    </div>
    <div class="form-item">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" formControlName="age">
        <p class="alert" *ngIf="formulaire.controls.age.errors?.min">L'age doit être supérieur à 0</p>
        <p class="alert" *ngIf="formulaire.controls.age.errors?.max">L'age doit être inférieur à 120</p>
    </div>
    <div class="form-item">
        <label for="email">Adresse Mail</label>
        <input type="text" name="email" id="email" formControlName="email">
    </div>
    <button type="submit" [disabled]="!formulaire.valid">Envoyer</button>
</form>